footer {
  ul {
    width: 80%;
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    margin: 0 auto;
  }

  .logotwo-box {
    width: 20%;
    display: flex;
    color: blueviolet;
    justify-content: flex-end;
  }
}
