html {
  font-size: 62.5%;
}

body {
  font-family: "Kulim Park", sans-serif;
  font-size: 2.2rem;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 90%;
}

.logo {
  width: 100px;
  height: 100px;
  background-color: white;
  border: none;
  padding-top: 20px;
  // justify-content: flex-end;
}
.h1 {
  margin: 10%;
  background-color: yellowgreen;
  justify-content: flex-end;
}
.h3 {
  margin: 0;
}
.hide {
  display: none;
}

h1,
h2,
h3 {
  font-family: "Nunito", sans-serif;
}
