.language-toggle {
  // background-image: url(../assets/canadian-flag.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0);
  width: 100px;
  height: 100px;
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  margin-left: auto;
  padding: 2px;
}
